* {
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: white;
}

h1 {
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
  color: black;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: black;
  margin-top: 10px;
}

body {
  background-color: lightblue;
  color: rgb(43, 39, 39);
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}

figure {
  max-width: 500px;
  margin-inline: auto;
  padding: 20px;
  border: solid 2px white;
}

img {
  max-width: 100%;
  border-radius: 10px;
}

footer {
  background-color: white;
}
